/* Application wide styles */
.highlightedArea {
    -fx-fill: transparent;
    -fx-stroke: gray;
    -fx-stroke-width: 1;
    -fx-stroke-dash-array: 5 5 5 5;
    -fx-stroke-dash-offset: 5;
    -fx-stroke-line-cap: butt;
}